body{
    margin: 0;
    font-family: sans-serif;
}

#page-heading{
    text-align: center;
    margin-top: 25px;
    color: grey;
}

li{
    list-style: none;
    margin-top: 0.15rem;
    display: flex;
}

#main-container{
    /* border: 2px solid red; */
    text-align: center;
}

#main-container div{
    /* border: 2px solid black; */
    width: 35%;
    margin-left: 28.5rem;
    background-color: #648FFF;
    border-radius: 12px;
}

#main-container div:hover{
    background-color: grey;
}

li p{
    display: inline-block;
    color: white;
    font-weight: 700;
}

#contactName{
    /* border: 2px solid red; */
    margin-left: 1rem;
    align-items: flex-start;
}

#contactNum{
    margin-left: auto;
    margin-right: 1rem;
}

input{
    font-size: 1.1rem;
}

button{
    font-size: 1rem;
    background-color: grey;
    border: 0.1rem solid rgb(107, 107, 107);
    height: 1.7rem;
    color: white;
    font-weight: 700;
}

.delete-button{
    margin-top: 1rem;
    margin-right: 1rem;
    visibility: hidden;
}

.delete-button a i{
    color: rgb(15, 47, 126);
}

#main-container div:hover .delete-button{
    visibility: visible;
}